
body {
    background-color: rgb(185, 178, 160);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: rgb(74, 67, 46);
}
nav {
    background-color: rgb(74, 67, 46);
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
nav a {
    color: blanchedalmond;
    text-decoration: solid;
    padding: 20px;
    margin: 10px;
}
h1.title {
    text-align: center;
    color: blanchedalmond;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120px;
}
h1 {
    text-align: center;
    color: rgb(74, 67, 46);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
}
h2 {
    color: blanchedalmond;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
h3 {
    color: blanchedalmond;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
h4 {
    text-align: center;
    color: blanchedalmond;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
button {
    background-color: #e0e0e0;
    font-size: larger;
    color: rgb(3, 0, 0);
    padding: 10px 20px;
    margin: 5px;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    max-width: 80%;
    height: auto;
    border-radius: 20px;

}
ol {
    color: rgb(74, 67, 46);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
ul {
    color: rgb(74, 67, 46);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
th {
    text-align: center;
    color: rgb(74, 67, 46);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
td {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 50%;
    border: 10px solid rgb(74, 67, 46);
    border-radius: 10px;
    background-color: blanchedalmond;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
#main {
    text-align: center;
    color: rgb(74, 67, 46);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.flex-container {
    display: flex;
    background-color: rgb(74, 67, 46);
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    flex-wrap: wrap;
}